/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html{

}

.hidden{
  display: none;
}
img{
  max-width: 150px;
}

ul{
  list-style-type: none;
}

#buildSearch{
  width: 65%;
}
#currentDeck{
  width: 35%;
}

#buildSearch ul{
  display: flex;
  flex-wrap: wrap;
}
#buildSearch li{
  padding: 2px;
}
/******************************************
/* LAYOUT
/*******************************************/



